.row {
	max-width:1120px !important;
  }
  
  .video-gallery {
	padding:40px 0;
  }
  
  .column {
	margin-bottom:40px;
}
	.row {
		max-width:1120px !important;
	  }
	  
	  .video-gallery {
		padding:40px 0;
	  }
	  
	  .column {
		margin-bottom:40px;
	  }